3erTrimestre/RA4/EjerciciosCrearXSDs/ExConcesionario.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="concesionario">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="vehiculo" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="marca" type="xsd:string"/>
                            <xsd:element name="modelo" type="xsd:string"/>
                            <xsd:element name="anio">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:int">
                                        <xsd:minInclusive value="1990"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="matricula" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[0-9]{4}[A-Z]{3}"></xsd:pattern>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="tipo" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="turismo"/>
                                    <xsd:enumeration value="comercial"/>
                                    <xsd:enumeration value="moto"/>
                                    <xsd:enumeration value="camion"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
