3erTrimestre/RA4/EjerciciosCrearXSDs/ExPedido.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="orders">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pedido">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="producto">
                                <xsd:complexType>
                                    <xsd:attribute name="id" use="required">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:pattern value="[P]\d{2}"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>     
                                    </xsd:attribute>
                                    <xsd:attribute name="cantidad" type="xsd:int" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="nombre"/>
                            <xsd:element name="precio">
                                <xsd:simpleType>
                                    <xsd:restriction>
                                        <xsd:fractionDigits value="5"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="numero" type="xsd:int" use="required">

                        </xsd:attribute>
                        <xsd:attribute name="fecha" type="xsd:date" use="required"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>    
        </xsd:complexType>
    </xsd:element>
</xsd:schema>