3erTrimestre/RA4/EjerciciosCrearXSDs/ExProductoNombrePrecio.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="producto">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string"/>
                <xsd:element name="precio">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                            <xsd:minInclusive value="0.00"></xsd:minInclusive>
                            <xsd:fractionDigits value="2"></xsd:fractionDigits>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="id" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="[A-Za-z][0-9]+"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>